# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Learn the popular languages used by Data Scientists
* Libraries used by some of the Data Languages
* Learn some examples of evaluating arithmetic expressions

### Some of the popular languages that Data Scientists use are:

1. R
2. C++
3. Python
4. SQL
5. SCALA
6. Julia
7. Java Script

### And for each languages, there are some libraries used by Data Scientists, that include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools | 
------------------
| Jupyter lab |
| Anaconda |
| VS Code |

### In the following cells there are some examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

Crist√≥bal Cadenas